body{
    background-color: #1D5C63;
}

.Menu{
    background-color: #125B50;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 10px;
    list-style: none;
    border: rgb(126, 219, 154);
    
}
.elemenu{
   
    width: 100px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    

}
.elemenu:hover{
    background-color: #066163;
    
    
    
}

.titulo1{
    display: flex;
    justify-content: center;
    text-align: left;
    
}

h1{
        
        text-align: center;
}
h2{
    text-align: right;
    padding-right: 80px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/*ESTILOS PARA FORMULARIO PACIENTE*/

.EstiloForm{
    background-color: #125B50;
    border: solid black 1px;
    margin-top: 30px;
    width: 550px;
    height: 200px;
    margin-left: 400px;
}

.field{
    margin-top: 3px;
    padding-top: 3px;
    width: 350px;
}
.btnform{
    margin-top: 10px;
    margin-left: 5px;
    
}

.tablacitasPac{
    width: auto;
    
    display: flex;
    justify-content: center;
    
}

.regCitasPac{
    border: solid black 1px;
    background-color: #066163;
    margin-top:0px;
    padding-top: 0px;
}
